@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --colorwhite: #f3f3f3;
    --colorblack: #0b0b0b;
    --colorheader: #080813;
    --font-family-parrafo: 'Poppins', sans-serif;
    --colorverde: #84ec57;
    --colorbody: #07071b;
    --mainFont: 'Poppins', sans-serif;
    --colorverdehover: #64b840;
    --importantColor: #cfcc13;
}

body {
    height: 100vh;
    background-color: #101728;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%2312192b' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23151a2d' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23181c30' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%231b1e32' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%231E2034' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23202237' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%2322243a' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%2324253d' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23262740' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23282943' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: white;

}

.form-container {

    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    top: 0;
    position: relative;

}

.caja-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    border-radius: 10px;
}


.caja-form h1 {
    position: relative;
    top: 100px;
}

.caja-form input {
    position: relative;
    top: 110px;
    width: 460px;
    border: none;
    outline: none;
    height: 40px;
    margin: 15px;
    border-radius: 5px;
    border: solid 1px #83ea59;
    background: transparent;
    color: white;
    transition: all 0.5s ease-in-out;
    padding-left: 10px;
}

.caja-form input:hover {
    background: white;
    color: black;
    border: white;
}

.caja-form button {
    position: relative;
    top: 130px;
    left: 14px;
    width: 463px;
    height: 40px;
    font-size: 15px;
    background: #83ea59;
    border: none;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.caja-form button:hover {
    background-color: #6bc545;
    letter-spacing: 1px;

}

#Rg {
    position: relative;
    bottom: 250px;
    right: 580px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: white;
    background: #83ea59;
    border: none;
    border-radius: 5px;
}

#spanError {
    color: red;
    position: relative;
    top: 150px;
}

input.inputErrorStyle {
    border: solid 1px red;
}

input[type="password"].passwordErrorStyle {
    border: dashed 1px red;
}

textarea {
    position: relative;
    top: 120px;
    left: 15px;
    width: 460px;
    font-size: 14px;
    padding: 6px;
    border-radius: 5px;
    border: none;
    resize: none;
    border: 1px solid var(--colorverde);
    background: transparent;
    color: var(--colorwhite);
    transition: all 0.5s ease-in-out;

}

textarea:hover {
    color: var(--colorblack);
    background-color: var(--colorwhite);
}

.div-button-back {
    margin: 10px;
    z-index: 2;
    position: relative;
    width: fit-content;
}

.go-back {
    height: 30px;
    width: 150px;
    color: var(--colorverde);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}


/* header */

header {
    position: fixed;
    width: 100%;
    transition: background-color 300ms;
    z-index: 6;
}


.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

.nav {
    --state-close: scale(0);
    --state-hamburguer: scale(1);
    --state-menu: translate(-100%);
    padding: 15px 10px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
    z-index: 6;
}



.nav:target {
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburguer: scale(0);
}


.nav__hamburguer,
.nav__close {
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
}

.nav__hamburguer {
    transform: var(--state-hamburguer);
}

.nav__item a:hover {
    color: var(--colorverde);
}

.nav__item a {
    transition: all 300ms;
    font-size: 17px;
}

.nav__close {
    transform: var(--state-close);
}

.nav__icon {
    width: 40px;
}

.nav__links {
    font-family: var(--font-family-parrafo);
    background-color: var(--colorheader);
    position: absolute;
    top: 0;
    bottom: -290px;
    left: 0;
    right: 0;
    padding: 0;
    display: grid;
    align-content: center;
    gap: 1em;
    padding-left: 6%;
    transform: var(--state-menu);
    transition: .3s transform;
}

.nav__item {
    list-style: none;
}

.nav__link {
    color: var(--colorwhite);
    text-decoration: none;
    font-size: 1.2rem;
}

#user-points {
    color: var(--importantColor);
    font-size: 17px;
}

#userPointsValue {
    font-style: italic;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 2px dotted var(--importantColor);
    cursor: help;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    width: 300px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
    margin-left: -60px;
    font-size: 15px;

}

.tooltip:hover .tooltiptext {
    visibility: visible;
}



@media screen and (min-width:700px) {
    .nav {
        --state-hamburguer: scale(0);
        --state-menu: translate(0);
    }

    .nav:target {
        --state-close: scale(0);
    }

    .nav__links {
        padding: 0;
        background-color: unset;
        position: unset;
        gap: 2.5em;
        grid-auto-flow: column;
        transform: unset;
        grid-column: -2/-1;
        grid-row: 1/2;
    }

    .nav__link {
        font-family: var(--font-family-parrafo);
        letter-spacing: none;
    }
}